{% load static %}
<div class="categories">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="categories_container d-flex flex-md-row flex-column align-items-start justify-content-start">
					
					<!-- Category -->
					<div class="category text-center">
						<a href="#boxoffice">
							<div class="d-flex flex-md-column flex-row align-items-md-center align-items-md-start align-items-center justify-content-start">
								<div class="cat_icon"><img style="opacity:0.6;" src="{% static 'movies/images/cinema.PNG' %}" class="svg" alt="https://www.flaticon.com/authors/monkik"></div>
								<div class="cat_title">In Theaters</div>
							</div>
						</a>
					</div>

					<!-- Category -->
					<div class="category text-center">
						<a href="{% url 'movies:listings' %}">
							<div class="d-flex flex-md-column flex-row align-items-md-center align-items-md-start align-items-center justify-content-start">
								<div class="cat_icon"><img style="opacity:0.6;" src="{% static 'movies/images/ranking.PNG' %}" class="svg" alt="https://www.flaticon.com/authors/monkik"></div>
								<div class="cat_title">Popular</div>
							</div>	
						</a>
					</div>

					<!-- Category -->
					<div class="category text-center">
						<a href="{% url 'people' user %}">
							<div class="d-flex flex-md-column flex-row align-items-md-center align-items-md-start align-items-center justify-content-start">
								<div class="cat_icon"><img style="opacity:0.6;" src="{% static 'movies/images/recommend.PNG' %}" class="svg" alt="https://www.flaticon.com/authors/monkik"></div>
								<div class="cat_title">We Recommend</div>
							</div>
						</a>
					</div>

					<!-- Category -->
					<div class="category text-center">
						<a href="http://www.megabox.co.kr/?show=booking&p=step1" target="_blank">
							<div class="d-flex flex-md-column flex-row align-items-md-center align-items-md-start align-items-center justify-content-start">
								<div class="cat_icon"><img style="opacity:0.6;" src="{% static 'movies/images/ticket.png' %}" class="svg" alt="https://www.flaticon.com/authors/monkik"></div>
								<div class="cat_title">Ticket</div>
							</div>
						</a>
					</div>

					<!-- Category -->
					<div class="category text-center">
						<a href="#genre">
							<div class="d-flex flex-md-column flex-row align-items-md-center align-items-md-start align-items-center justify-content-start">
								<div class="cat_icon"><img style="opacity:0.6;" src="{% static 'movies/images/popcorn.png' %}" class="svg" alt="https://www.flaticon.com/authors/monkik"></div>
								<div class="cat_title">Genre</div>
							</div>
						</a>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>