{% load static %}

<!-- Menu -->

<div class="menu">
	<div class="menu_container text-right">
		<div class="menu_close">close</div>
		<nav class="menu_nav">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="#">About us</a></li>
				<li><a href="listings.html">Listings</a></li>
				<li><a href="blog.html">News</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</nav>
		<div class="menu_link">
			<a href="#">+Add Listing</a>
		</div>
	</div>
</div>


<header class="header">
	<div class="header_overlay"></div>
	<div class="header_content d-flex flex-row align-items-center justify-content-start">
		
		<!-- Logo -->
		<div class="logo"><a href="{% url 'movies:list' %}">Popcorn<span>Overflow</span><span>+</span></a></div>

		<!-- Header Nav -->
		<div class="header_right d-flex flex-row align-items-center justify-content-start ml-auto">
			<nav class="main_nav">
				<ul class="d-flex flex-row align-items-center justify-content-start">
					<li class="active"><a href="{% url 'movies:list' %}">Home</a></li>
					<!--<li><a href="#">About us</a></li>-->
					<!--<li><a href="{% url 'movies:listings' %}">Listings</a></li>-->
					<!--<li><a href="blog.html">News</a></li>-->
					<!--<li><a href="contact.html">Contact</a></li>-->
				</ul>
			</nav>
			<div class="add_listing text-center trans_200"><a href="{% url 'movies:listings' %}">Listings</a></div>
			<div class="log_reg">
				<ul class="d-flex flex-row align-items-center justify-content-start">
					{% if user.is_authenticated %}
	                    <li><a href="{% url 'people' user.username %}">{{ user.username }}</a></li>
	                    <li><a href="{% url 'people' user.username %}">MyPage</a></li>
	                    <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                    {% else %}
	                    <li><a href="{% url 'accounts:login' %}">Login</a></li>
	                    <li><a href="{% url 'accounts:signup' %}">Register</a></li>
                    {% endif %}
				</ul>
			</div>
			<div class="hamburger">
				<i class="fa fa-bars trans_200"></i>
			</div>
		</div>

	</div>
</header>