{% load static %}
<div class="home">
			
	<!-- Home Slider -->
	<div class="home_slider_container">
		<div class="owl-carousel owl-theme home_slider">
			
			<!-- Slide -->
			<div class="slide">
				<div class="background_image" style="background-image:url({% static 'movies/images/bg3_p.jpg' %})"></div>
				<div class="home_container">
					<div class="container">
						<div class="row">
							<div class="col-xl-8 offset-xl-2">
								<div class="home_content text-center">
									<div class="home_title"><h1>Popcorn <span>Overflow</span></h1></div>
									<div class="search_form_container">
										<form action="#" class="search_form" id="search_form">
											<div class="d-flex flex-sm-row flex-column align-items-sm-start align-items-center justify-content-sm-between">
												<input type="text" class="search_input" placeholder="Which movie are you looking for?" required="required">
												<button class="search_button">Search</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Slide -->
			<div class="slide">
				<div class="background_image" style="background-image:url({% static 'movies/images/bg2_p.jpg' %})"></div>
				<div class="home_container">
					<div class="container">
						<div class="row">
							<div class="col-xl-8 offset-xl-2">
								<div class="home_content text-center">
									<div class="home_title"><h1>Popcorn <span>Overflow</span></h1></div>
									<div class="search_form_container">
										<form action="#" class="search_form" id="search_form">
											<div class="d-flex flex-sm-row flex-column align-items-sm-start align-items-center justify-content-sm-between">
												<input type="text" class="search_input" placeholder="Which movie are you looking for?" required="required">
												<button class="search_button">Search</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Slide -->
			<div class="slide">
				<div class="background_image" style="background-image:url({% static 'movies/images/bg1_p.jpg' %})"></div>
				<div class="home_container">
					<div class="container">
						<div class="row">
							<div class="col-xl-8 offset-xl-2">
								<div class="home_content text-center">
									<div class="home_title"><h1>Popcorn <span>Overflow</span></h1></div>
									<div class="search_form_container">
										<form action="#" class="search_form" id="search_form">
											<div class="d-flex flex-sm-row flex-column align-items-sm-start align-items-center justify-content-sm-between">
												<input type="text" class="search_input" placeholder="Which movie are you looking for?" required="required">
												<button class="search_button">Search</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<!-- Home Slider Dots -->

		<div class="home_slider_dots">
			<ul id="home_slider_custom_dots" class="home_slider_custom_dots">
				<li class="home_slider_custom_dot active">01.</li>
				<li class="home_slider_custom_dot">02.</li>
				<li class="home_slider_custom_dot">03.</li>
			</ul>
		</div>

	</div>
</div>