<!DOCTYPE html>
<html lang="en">
<head>
<title>Contact</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="DirectoryPlus template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="movies/styles/bootstrap-4.1.2/bootstrap.min.css">
<link href="movies/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="movies/styles/contact.css">
<link rel="stylesheet" type="text/css" href="movies/styles/contact_responsive.css">
</head>
<body>

<!-- Menu -->

<div class="menu">
	<div class="menu_container text-right">
		<div class="menu_close">close</div>
		<nav class="menu_nav">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="#">About us</a></li>
				<li><a href="listings.html">Listings</a></li>
				<li><a href="blog.html">News</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</nav>
		<div class="menu_link">
			<a href="#">+Add Listing</a>
		</div>
	</div>
</div>

<div class="super_container">

	<!-- Header -->

	<header class="header">
		<div class="header_background"><div class="background_image" style="background-image:url(images/header.jpg)"></div></div>
		<div class="header_overlay"></div>
		<div class="header_content d-flex flex-row align-items-center justify-content-start">
			
			<!-- Logo -->
			<div class="logo"><a href="#">Directory<span>Plus</span><span>+</span></a></div>

			<!-- Header Nav -->
			<div class="header_right d-flex flex-row align-items-center justify-content-start ml-auto">
				<nav class="main_nav">
					<ul class="d-flex flex-row align-items-center justify-content-start">
						<li><a href="index.html">Home</a></li>
						<li><a href="#">About us</a></li>
						<li><a href="listings.html">Listings</a></li>
						<li><a href="blog.html">News</a></li>
						<li class="active"><a href="contact.html">Contact</a></li>
					</ul>
				</nav>
				<div class="add_listing text-center trans_200"><a href="#">+Add Listing</a></div>
				<div class="log_reg">
					<ul class="d-flex flex-row align-items-center justify-content-start">
						<li><a href="#">Login</a></li>
						<li><a href="#">Register</a></li>
					</ul>
				</div>
				<div class="hamburger">
					<i class="fa fa-bars trans_200"></i>
				</div>
			</div>

		</div>
	</header>

	<div class="super_container_inner">
		<div class="super_overlay"></div>

		<!-- Home -->

		<div class="home">
			<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/contact.jpg" data-speed="0.8"></div>
			<div class="home_container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="home_content">
								<div class="home_title">Contact</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Contact -->

		<div class="contact container_custom">
			<div class="container">
				<div class="row">

					<!-- Contact Content -->
					<div class="col-xl-6">
						<div class="contact_content">
							<div class="contact_form_container">
								<div class="section_title"><h1>Get in touch</h1></div>
								<form action="#" class="contact_form" id="contact_form">
									<div class="row">
										<div class="col-lg-6 contact_form_col">
											<input type="text" class="contact_input" placeholder="Your name" required="required">
										</div>
										<div class="col-lg-6">
											<input type="email" class="contact_input" placeholder="Your e-mail" required="required">
										</div>
									</div>
									<div>
										<input type="text" class="contact_input" placeholder="Subject">
									</div>
									<div>
										<textarea class="contact_input contact_textarea" placeholder="Message" required="required"></textarea>
									</div>
									<button class="contact_button trans_200">Send message</button>
								</form>
								<div class="contact_info">
									<div class="section_title"><h1>Contact Info</h1></div>
									<div class="contact_info_list">
										<ul>
											<li class="d-flex flex-row align-items-start justify-content-start">
												<div class="contact_info_icon"><img src="images/info_1.png" alt=""></div>
												<div class="contact_info_content"><span>Address: </span>Main Str, no 253, New York, NY</div>
											</li>
											<li class="d-flex flex-row align-items-start justify-content-start">
												<div class="contact_info_icon"><img src="images/info_2.png" alt=""></div>
												<div class="contact_info_content"><span>Phone: </span>+546 990221 123</div>
											</li>
											<li class="d-flex flex-row align-items-start justify-content-start">
												<div class="contact_info_icon"><img src="images/info_3.png" alt=""></div>
												<div class="contact_info_content"><span>E-mail: </span>restaurant@contact.com</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Contact Map -->
					<div class="col-xl-6">
						<div class="contact_map_container">
							
							<!-- Google Map -->
		
							<div class="map">
								<div id="google_map" class="google_map">
									<div class="map_container">
										<div id="map"></div>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>

		<!-- Footer -->

		<footer class="footer container_custom">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="footer_container d-flex flex-md-row flex-column align-items-center justify-content-md-start justify-content-center">
							<div class="copyright order-md-1 order-2"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</div>
							<nav class="footer_nav ml-md-auto order-md-2 order-1">
								<ul class="d-flex flex-row align-items-center justify-content-start">
									<li><a href="index.html">Home</a></li>
									<li><a href="#">About us</a></li>
									<li><a href="listings.html">Listings</a></li>
									<li><a href="blog.html">News</a></li>
									<li class="active"><a href="contact.html">Contact</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
		
</div>

<script src="movies/js/jquery-3.3.1.min.js"></script>
<script src="movies/styles/bootstrap-4.1.2/popper.js"></script>
<script src="movies/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
<script src="movies/plugins/greensock/TweenMax.min.js"></script>
<script src="movies/plugins/greensock/TimelineMax.min.js"></script>
<script src="movies/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="movies/plugins/greensock/animation.gsap.min.js"></script>
<script src="movies/plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="movies/plugins/easing/easing.js"></script>
<script src="movies/plugins/progressbar/progressbar.min.js"></script>
<script src="movies/plugins/parallax-js-master/parallax.min.js"></script>
<script src="movies/https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
<script src="movies/js/contact.js"></script>
</body>
</html>