{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load socialaccount %}

{% block css %}
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="{% static 'movies/styles/main_styles.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'movies/styles/responsive.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/stylesheets/auth_login.css' %}">
{% endblock %}

{% block content %}
<!-- Menu -->
<div class="menu">
	<div class="menu_container text-right">
		<div class="menu_close">close</div>
		<nav class="menu_nav">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="#">About us</a></li>
				<li><a href="listings.html">Listings</a></li>
				<li><a href="blog.html">News</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</nav>
		<div class="menu_link">
			<a href="#">+Add Listing</a>
		</div>
	</div>
</div>
<!--<div class="super_container">-->
	{% include 'movies/_nav.html' %}
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
					<h3 class="mt-5">Sign In</h3>
					<div class="d-flex justify-content-end social_icon">
						<!--<span><i class="fab fa-facebook-square"></i></span>-->
						<!--<span><i class="fab fa-google-plus-square"></i></span>-->
						<!--<span><i class="fab fa-twitter-square"></i></span>-->
						<!--<a href="{% provider_login_url 'kakao' method='oauth2' %}" class="btn btn-warning">카카오로그인</a>-->
						<a href="{% provider_login_url 'kakao' method='oauth2' %}">
							<img src="{% static 'accounts/images/kakaolink_btn_medium.png' %}" ></img>
						</a>
						
					</div>
				</div>
				<div class="card-body">
					<form action="" method="POST" enctype="multipart/form-data">
					    {% csrf_token %}
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" class="form-control" placeholder="username" name="username">
							
						</div>
						<div class="input-group form-group mt-3">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" class="form-control" placeholder="password" name="password">
						</div>
						<!--<div class="row align-items-center remember">-->
						<!--	<input type="checkbox">Remember Me-->
						<!--</div>-->
						<div class="form-group mt-3">
							<input type="submit" value="Login" class="btn float-right login_btn">
						</div>
					</form>
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-center links">
						Don't have an account?<a href="{% url 'accounts:signup' %}">Sign Up</a>
					</div>
					<div class="d-flex justify-content-center">
						
					</div>
				</div>
				
			</div>
		</div>
	</div>
	{% include 'movies/_footer.html' %}
<!--</div>-->
{% endblock %}
