{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
 {% block css %}
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="{% static 'movies/styles/main_styles.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'movies/styles/responsive.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/stylesheets/auth_login.css' %}">
{% endblock %}

{% block content %}
<!-- Menu -->
<div class="menu">
	<div class="menu_container text-right">
		<div class="menu_close">close</div>
		<nav class="menu_nav">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="#">About us</a></li>
				<li><a href="listings.html">Listings</a></li>
				<li><a href="blog.html">News</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</nav>
		<div class="menu_link">
			<a href="#">+Add Listing</a>
		</div>
	</div>
</div>
<!--<div class="super_container">-->
{% include 'movies/_nav.html' %}
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
		    <div class="card-header">
				<h3></h3>

			</div>
			<div class="card-header">
				<h2 class="text-center text-light">User Change</h2>

			</div>
			<div class="card-body">
				<form action="" method="POST" enctype="multipart/form-data">
				    {% csrf_token %}
					
                    <div class="d-flex justify-content-center input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class='fa fa-envelope' style='font-size:26px'></i></span>
                            <input type="email" class="form-control" placeholder="email" id="tbSifre" name="email" style="width: 325px" required>
                        </div>         
                    </div>
                    <div class="d-flex justify-content-center input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-signature" style='font-size:26px'></i></span>
                            <input type="text" class="form-control" placeholder="first_name" id="tbSifre" name="first_name" style="width: 325px" required>
                        </div>         
                    </div>
                    
                    <div class="d-flex justify-content-center input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-signature" style='font-size:26px'></i></span>
                            <input type="text" class="form-control" placeholder="last_name" id="tbTekrarSifre" name="first_name" style="width: 325px" required>                 
                        </div>         
                    </div>
                    <div class="form-group">
					    <input type="submit" value="change" class="btn float-right login_btn">
				    </div>
				</form>
				<form action="{% url 'accounts:delete' %}" method="POST" onsubmit="return confirm('R U Sure')">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">회원탈퇴</button>
                </form>
			</div>
			
			
		</div>
	</div>
</div>

{% include 'movies/_footer.html' %}
<!--</div>-->
{% endblock %}
